@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;600&display=swap");
/* font-family: 'Jura', sans-serif; */
:root {
  --text: white;
  --bg: rgba(116, 122, 255, 0.2);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.main {
  padding: 1rem 1rem;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
        58.01% 58.01% at 59.46% 10.61%,
        rgba(116, 122, 255, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #12131b;
}

.main__logo {
  font-family: "Jura", sans-serif;
  color: var(--text);
}

.main__logo > h3 {
  background-color: rgb(229, 232, 235);
  color: black;

  padding: 5px;
}

.main__menu-btn {
  color: var(--text);
}

.main__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__hero {
  font-family: "Jura", sans-serif;
  color: var(--text);
}

@media screen and (max-width: 768px) {
  .main__logo > h3 {
    font-size: 16px;
    max-width: 120px;
  }
  .main__logo > p {
    font-size: 12px;
    letter-spacing: 0.2px;
  }
  .main__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__hero-text > h2 {
    font-size: 13px;
  }
  .main__hero-text > h1 {
    font-size: 30px;
  }
  .main__hero-image {
    width: 300px;
  }
  .hero__social__links {
    font-size: 12px;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
